<IfModule mod_rewrite. c>
    < do IfModule mod_negotiation. c>
 Opções -MultiViews -Índices
    </IfModule>

    RewriteEngine On
    RewriteBase /

 # Manipular cabeçalho de autorização
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

 # Redirecionar barras à direita se não for uma pasta ...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

 # Enviar solicitações para o controlador frontal...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
</IfModule>
